.contact {
  background-image: url("/src/assets/images/background-light.png");
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-attachment: fixed;
  &__title {
    letter-spacing: 4px;
    font-weight: 700;
    font-size: 30px;
    padding: 0;
    margin: 0;
    color: black;
  }
  &__image {
    margin: 20px;
    width: 120px;
    height: 120px;
  }
}
.contact-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
  &__link {
    padding: 0;
    display: block;
    text-align: center;
    letter-spacing: 4px;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
    margin: 4px auto;
    &:hover {
      color: white;
    }
  }
}
