// completed
.nav {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  @media (max-width: 768px) {
    justify-content: space-around;
  }
  @media (max-width: 576px) {
    flex-direction: column;
  }
  @media (max-height: 500px) {
    height: 70px;
  }
  &__image {
    margin: 0 50px 30px;
    width: 250px;
    @media (max-width: 1024px) {
      display: none;
    }
  }
}

// completed
.nav-list {
  color: white;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 425px;
  @media (max-width: 1024px) {
    width: 100%;
  }
  @media (max-width: 576px) {
    height: 100%;
  }
  &--socialMedia {
    @media (max-width: 1024px) {
      border-left: 1px solid white;
      width: 100%;
    }
    @media (max-width: 576px) {
      border-left: none;
      border-top: 1px solid white;
      height: 100%;
    }
  }
  &--subList {
    display: none;
  }
  &__element {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    @media (max-width: 576px) {
      height: 100%;
    }
  }
  &__link {
    color: white;
    border-radius: 55px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 0;
    padding: 8px;
    text-decoration: none;
    text-shadow: 1px 1px 2px rgb(28, 24, 51);
    transition: 0.5s;
    @media (max-width: 425px) {
      font-size: 12px;
      padding: 2px;
    }
    &:hover {
      background: black;
    }
    &--sublist {
      margin: 4px 0;
      &:hover {
        background: #5daa5f;
      }
    }
    &--facebook {
      &:hover {
        background: #1877f2;
      }
    }
    &--youtube {
      &:hover {
        background: #ff0000;
      }
    }
    &--instagram {
      &:hover {
        background: #f46f30;
      }
    }
    &--tweeter {
      &:hover {
        background: #1da1f2;
      }
    }
    &--spotify {
      &:hover {
        background: #1ed760;
      }
    }
  }
  &__image {
    height: 16px;
    margin: 3px 0 0;
    width: 16px;
    @media (max-width: 576px) {
      margin: 0;
    }
  }
}

// completed
// this class works when user click ♥MORE♥ link
.subList--open {
  align-items: center;
  background: url("../assets/images/background.png");
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  height: fit-content;
  justify-content: center;
  position: absolute;
  text-align: center;
  top: 66px;
  width: 140px;
  z-index: 9999;
  @media (min-height: 500px) {
    top: 66px;
  }
  @media (max-height: 500px) {
  top: 51px;
  }
  @media (max-width: 576px) {
    right: 0;
    top: 100px;
  }
}
