@import "~normalize.css";

@import "_variables";
// @import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500&display=swap");
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;500;700&display=swap');
@import "./modules/navigation.scss";
@import "./modules/2a.section-album.scss";
@import "./modules/article.scss";
@import "./modules/contact.scss";
@import "./modules/footer.scss";

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// ::-webkit-scrollbar {
//   display: none;
// }

body {
  position: relative;
  background: $mainColor;
  display: flex;
  // font-family: "Rajdhani", sans-serif;
  // font-family: 'Montserrat', sans-serif;
  font-family: 'Jura', sans-serif;
  justify-content: start;
  flex-direction: column;
  min-height: 100vh;
}
.main {
  margin: 0;
  padding: 0;
  background: url("/src/assets/images/background.png");
  background-attachment: fixed;
}

.section {
  margin: 174px 0 0 0;
  padding: 0;
  &__title {
    margin:0;
    padding:0;
    letter-spacing: 16px;
    color: white;
    text-align: center;
    font-size: 60px;
    font-weight: 300;
  }
  &__image {
    width: 100%;
    margin: 120px 0 0 0;
  }
}
