@import "~normalize.css";

@import "_variables";
// @import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500&display=swap");
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;500;700&display=swap");

// alphabetically
@import "./modules/about.scss";
@import "./modules/album.scss";
@import "./modules/article.scss";
@import "./modules/info.scss";
@import "./modules/footer.scss";
@import "./modules/header.scss";
@import "./modules/navigation.scss";

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// ::-webkit-scrollbar {
//   display: none;
// }

body {
  display: flex;
  flex-direction: column;
  font-family: "Jura", sans-serif;
  // font-family: "Rajdhani", sans-serif;
  // font-family: 'Montserrat', sans-serif;
  justify-content: start;
  min-height: 100vh;
  position: relative;
}

.main {
  background: url("../assets/images/background.png") center fixed;
  margin: 0;
  padding: 0;
  &__image {
    background: url("../assets/images/background-light.png") center fixed;
    height: 300px;
    margin: 0;
    padding: 30px 0;
    width:100%;
  }
}
